/* color s F28555    F28555  F28555 */
:root {
    --orange : #EB662B;
    --menu-background : #FDF0EA;
    --text-boldColor: #F28555;
    --text-lightBlack-color: #383636;
    
    
    }
   
   
    span{
        color: var(--orange);
    }
        .Explorer button  {
        margin: 0 10px;
        padding: 5px 20px;
        height: fit-content;
        background-color:var(--orange);
        border-radius: 3px;
        border: var(--text-boldColor) 1px solid;
        outline: #ee58172c 1px solid;
        color: #fff;
    }
    
    .Intro{
        margin:  30px 30px;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;
    }
    .Intro img{
        height: 230px;
        width: 250px;
    }
    .Intro h1,h4 ,.Intro button{
        
        margin-top: 20px;
    }
    
    .Explorer{
        margin:  30px 0;
    }
    
    .why{
        margin:  20px  30px ;
    }
    
    .Bottom{
        min-width: 200px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    
    }
    .Card{
        border: #fdf0ea1b solid 1px ;
        outline: #f1efee39 solid 2px ;
        border-radius: 3px;
        text-align: center;
        padding: 10px;
        width: 240px;
        margin-top: 10px;
    }
    
    .Card img{
    display: block;
        margin: auto;
    }
    
    footer{
        background-color: var(--menu-background);
        padding: 20px;
        margin: 30px 0 0 0;
    }
    
    .Footer h5,.Footer h4{
        margin-top: 10px;
        margin-left: 30px;
    
    }
    
    .Explorer button{
        margin: 20px 0 0 40px;
    }

    @media  screen and (max-width:700px){

        .Intro{
            flex-direction: column;

        }
        .Explorer ,  .Intro img ,.Explorer button ,.Explorer  h1,.Explorer h4{
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        
    }

    